<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wpaint.pymov.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="top.wpaint.pymov.domain.Movie">
            <id property="movieId" column="movie_id" />
            <result property="title" column="title" />
            <result property="pubYear" column="pub_year" />
    </resultMap>

    <sql id="Base_Column_List">
        movie_id,title,pub_year
    </sql>
</mapper>
