<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wpaint.pymov.mapper.UserLikeMapper">

    <resultMap id="BaseResultMap" type="top.wpaint.pymov.model.entity.UserLike">
        <result property="user_id" column="user_id"/>
        <result property="genre_id" column="genre_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,genre_id
    </sql>
</mapper>
